body
{
   /* background-color:#E4F9F5;*/
    text-align:center;
     color:#40514E; 


}
.topcontainer
{
   background-color:#E4F9F5;
   position:relative;
   padding:50px;
}
.middle-container
{


   margin:50px 0 0 0;

}
.bottom-container
{
  background-color:#66BFBF;

  padding:30px 0 20px;
}

h1
{
    margin-top:50px;
    font-size:70px;
    color:#66BFBF;
    line-height:2;

    /*font-family:'Sacramento',cursive;*/
}

h2
{
    font-size:2.5rem;
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
    font-weight:normal;
}
h3
{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}
body
{
    margin:0px;  
     /* it set all the four sides to 0 px */
     font-family: 'Merriweather', serif;
}
.pro
{
    text-decoration:underline;
}
.top-cloud
{
   color:white;
   position:relative;
   left:500px;
}
.bottom-cloud
{
    position:absolute;
    left:100px;
}
.photo
{
    width:150px;
    height:150px;
}
.skill-image
{
    width:150px;
    height:150px;

}

.skill-row
{
    width:50%;
    margin:0 auto 0 auto;
    text-align:left;
    line-height:2;
    color:#40514E;
}
.project-img
{
    width:150px;
    height:150px;


}
.p
{
    width:50%;
    text-align:left;
    color:#40514E;

}
a
{
    color:#11999E;
}
/*
.proj
{
    
    margin:0 auto 0 auto;
   
}
*/
.profile-p
{
    color:#40514E;
    width:50%;
    text-align:left;
}
hr
{
    border:none;
    border-top-style:dotted;
    border-color:#EAF6F6;

    width:5%;

    border-width:4px;
    margin:50px auto;


}
.copy
{
    color:#EAF6F6;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',san-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  a
  {
    width:50px;
  }
  a
  {
    color:#11999e;
    font-family: 'Montserrat',san-serif;
    margin:10px 20px;
    text-decoration:none;

  }
  a:hover
  {
     color:#EAF6F6;
  }
  .copy
  {
    color:#EAF6F6;
    font-size:0.75rem;
    padding:20px 0px;
  }